.idea
*.pyc
*.npz
*.tif

*.hdf5
*.h5
*.zip
*.log
*.tfevents.*
config.json
_tensorboard/
logs
data
!csbdeep/data

dist/
build/
csbdeep\.egg-info/
.ipynb_checkpoints
.DS_Store
.pytest_cache

!figures/cached/*

figures/_output*
figures/flywing_example
figures/_extra
figures/generated

experiments/*/data
experiments/*/output
experiments/*/output_good
experiments/*/results*
experiments/*/SavedModel
experiments/*/foo.sh
experiments/*/*.mp4
